{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hiya {{ neighborhood }}, Miami!</h1>

    <ul>
        {% for highlight in highlights %}
            <li>{{ highlight.name }} ({{ highlight.description }})</li>
        {% endfor %}
    </ul>
{% endblock %}
